
@{
    ViewData["Title"] = "Hijab";
}

<h2>Hijab</h2>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/hijab.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text text-right">Rp 150,000.00</p>
    </div>
</div>