
@{
    ViewData["Title"] = "Pria";
}

<h2>Pria</h2>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/pria.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text text-right">Rp 145,000.00</p>
    </div>
</div>