
@{
    ViewData["Title"] = "Wanita";
}

<h2>Wanita</h2>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/images/batik1.jpg" alt="Card image cap">
    <div class="card-body">
        <p class="card-text text-right">Rp 125,000.00</p>
    </div>
</div>